 <!DOCTYPE html>
 <html>

    <head>

    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title> {% block title %}Trimmie |URL shortener{% endblock %} </title>
	    {% load staticfiles %} {% block css %} {% endblock %}
	    {% load widget_tweaks %}
	    <link rel="stylesheet" href="{% static 'shortener/home.css' %}">
		
		 <script>
			function myFunction() {
  					var copyText = document.getElementById("myInput");
  					copyText.select();
  					document.execCommand("copy");
				}
		</script>	    

    </head>   


<body>
    

		<div class="top-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-8">
						<h1 class="title">TRIMMIE</h1>
						<br>
				      <form method="POST" enctype='multipart/form-data' action='.'>
							{% csrf_token %}
							
							<div class="form-group input-group input-group-lg" id="long-url">
						       <input type="url" name="url" maxlength="512" placeholder="Put your bulky url..." class="form-control" required id="id_url" />
						       <span class="input-group-btn"> <input type="submit" class="btn btn-success" value="Shorten" id="shrink"> </span>
					        </div>

					        {% if form.url.errors %}
				            <div class="text-danger" style="font-size: 21px;text-align: center;">
				            	Please provide a valid URL
				            </div>
				            {% endif %}

				            
							<span id="long-url" class="height1" style="font-size: 20px;color: white">Custom URL : </span>
							<div class="form-group-lg height1" id="long-url">
							<div class="input-group">
								 <span class="input-group-addon">127.0.0.1:8000/</span>
					            <input type="text" name="shortcode" maxlength="15" placeholder="Optional" class="form-control" id="id_shortcode" />
				            </div>
				        </div>
				    <br>
								
							        
				       </form>
			        </div>
			    </div>
			</div>
	    </div>

	    <div class="container">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-8">
					<h4 style="font-family:'Courgette', cursive;color:white" id="long-url">Available!!You have created shortlink</h4>     
				            {% if created %}
				                <div class="form-group input-group input-group-lg" id="long-url">
				                    <input type="text" name="created" class="form-control" value="127.0.0.1:8000/{{created.shortcode}}" id="myInput" />
				                    <span class="input-group-btn"><input type="submit" value="Copy URL" class="btn btn-success" onclick="myFunction()"></span>
				                </div>
						        
				            {% elif object %}

				                <div class="form-group input-group input-group-lg" id="long-url">
				                    <input type="text" name="created" class="form-control" value="127.0.0.1:8000/{{object.shortcode}}" id="myInput" />
				                    <span class="input-group-btn"><input type="submit" value="Copy URL" class="btn btn-success" onclick="myFunction()"></span>
				                </div>
				             {% endif %}   
				    </div>
				</div>
		</div>


</body>
</html>